/* formulaire */
.container-formulaire {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.container-select {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container-select select option {
  text-align: center;
}
.container-select select {
  font-size: 22px;
  height: 44px;
  width: 266px;
  margin-bottom: 11px;
  border-radius: 11px;
  margin: 22px;
}
#btn-generate-link {
  font-size: 18px;
  border: 1px solid #0e0;
  background-color: #0e0;
  color: #111;
  padding: 11px 22px;
  margin-top: 11px;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 11px;
  text-decoration: none;
  transform: scale(1);
  transition: 0.2s;
}
#btn-generate-link:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.2s;
}

/* generate prognosis */
.container-generate-prognosis {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.form-generate-prognosis {
  margin-top: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#code-generate-prognosis {
  width: 33%;
  height: 22px;
  border-radius: 8px;
  border: 1px solid #eee;
}
#btn-generate-prognosis {
  font-size: 18px;
  border: 1px solid #0e0;
  background-color: #0e0;
  color: #111;
  padding: 11px 22px;
  margin-top: 11px;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 11px;
  text-decoration: none;
  margin-top: 22px;
  transition: 0.2s;
}
#btn-generate-prognosis:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.2s;
}
.btn-copy-code {
  font-size: 18px;
  border: 1px solid #0e0;
  padding: 11px 22px;
  margin-bottom: 11px;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 11px;
  transition: 0.2s;
}
.btn-copy-code:hover {
  border: 1px solid #0e0;
  background-color: #0e0;
  color: #111;
  transition: 0.2s;
}
#codeCopy {
  width: 1px;
  height: 1px;
  position: absolute;
  left: 0;
  top: -11px;
}
#link-item {
  font-size: 18px;
  border: 1px solid #00e;
  padding: 11px 22px;
  margin-top: 11px;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 11px;
  text-decoration: none;
  transition: 0.2s;
}
#link-item:hover {
  border: 1px solid #00e;
  background-color: #00e;
  transition: 0.2s;
}

/* result */
.container-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
table {
  width: 33%;
  text-align: center;
}
caption {
  margin-bottom: 22px;
  font-size: 55px;
  color: #0e0;
}
thead tr th {
  font-size: 33px;
  border-bottom: 3px solid #222;
}
tbody tr td {
  font-size: 44px;
  padding: 3px;
}

/* global */
.d-none {
  display: none;
}
* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #111;
  color: #eee;
}
body {
  height: 100vh;
}
html {
  overflow-y: hidden;
}
h1 {
  text-align: center;
}
.btn-refresh {
  font-size: 18px;
  color: #e00;
  margin-top: 22px;
  transition: 0.2s;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  text-decoration: none;
}
.btn-refresh:hover {
  color: #0e0;
  cursor: pointer;
  transition: 0.2s;
}
